.main{
    margin: 0px 80px;
}

.contain{
   display: flex;
   justify-content: center;
  
}

.inner-contain{
    width: 638px;
    margin-top: 3rem;
    text-align: center;
}

.inner-blue{
   height: 280px;
   width: 100%;
   margin-top: 2rem;
   background-color:#1A2C50;
   color: white;
   padding: 2rem 1.5rem;
   text-align: start;
   border-radius: 10px 10px 0px 0px;
}