.bglogin{
    background: url('../Assets/images/b.png');
    padding: 3rem;
    height: inherit;
}

@media (max-width:1000px) {
    .bglogin{
        padding: 3rem 1rem;
        height: 100vh;
        object-fit: contain;
    }
    
}