.bglogin{
    background: url('../Assets/images/b.png');
    padding: 3rem;
    height: inherit;
}

/* App.css */
.fade-enter {
    opacity: 0;
    transform: translateY(20px);
  }
  .fade-enter-active {
    opacity: 9;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
  }

/* Red background for error toast */
.toast-error-red {
  background-color: white !important; /* Toast background */
  color: red !important; /* Text color for better readability */
}

/* White progress/loading line */
.toast-progress-white {
  background-color: red !important; /* Progress bar color */
}

  

@media (max-width:1000px) {
    .bglogin{
        padding: 3rem 1rem;
        height: 100vh;
        object-fit: contain;
    }
    
}