/* THEATRE */

.c-grey{
    color: #5A637A;
  
}

.main-div{
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.main-div .btn-div{
    justify-self: end;
}

.main-div .star-div{
    display: flex;
    align-self: center;
    margin-bottom: 15px;
}

.main-div p{
    margin-left: 10px;
    font-size: 24px;
    font-weight: 500;
}


/* TIMEBOXES */

.show-main{
   margin-top: 1rem;
   width: 623px;
}

.shows{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%
}

.shows h3{
    font-size: 24px;
    font-weight: 500;
    color: #5A637A;
}

.shows p{
    font-size: 18px;
    color: #5A637A;
}



/* SMALL TIME BOX */

.sm-timediv{
    border: 1px solid #5A637A;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    width: 77px;
    height: 40px;
    margin:10px 15px 20px 0px;
    font-weight: 500;
    cursor: pointer;
}

.sm-timediv:hover{
    color: white;
    background-color: #254075;
}

@media (max-width:1000px){

    .main-div p{
        margin-left: 10px;
        font-size: 20px;
        font-weight: 500;
    }


    .shows h3{
        font-size: 18px;
        font-weight: 500;
    }
    
    .shows p{
        font-size: 14px;
    }
    
    .show-main{
        margin-top: 1rem;
        margin-right: 20px;
     }
}


@media (max-width:900px){

    .show-main{
        margin-right: 20px;
    }
    

}

