.main{
    margin: 0px 80px;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.c-grey{
    color:#BDC5D4;
}

.c-dgrey{
  color: #999;
}

.c-ddgrey{
  color:#414A63;
}


.mysearch-div{
    width: 100%;
    display: flex;
    height: inherit;
    gap:25px;
    align-items: center;
    margin:1.5rem 0px;
}

.input-container {
    position: relative;
    width: 578px /* Adjust width based on your layout */
 }

.input-container input{
    width: 100%;;
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid #BDC5D4;
    padding-left: 20px; /* To avoid text on the left overlapping the input text */
    padding-right: 20px; /* To avoid text on the right overlapping the input text */
    box-sizing: border-box;
}

  /* Left placeholder */
  .input-container::before {
    content:' Search Post' ; /* Left-side placeholder */
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none; /* Allows interaction with input field */
  }

  /* Right placeholder */
  .input-container::after {
    content: ' '; /* Right-side placeholder */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    width: 30px;  /* Set your desired width */
    height: 30px; /* Set your desired height */
    background-image: url('../Assets/images/search.png'); 
    background-size: contain; /* Makes the image fit within the width/height */
    background-repeat: no-repeat;
  }

  .sort-drop{
    position: relative;
    cursor: pointer;
 }

  .sorting-div{
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 0px 5px 2px rgb(218, 217, 217) ;
    padding: 1.2rem 1rem 5px 1rem;
    position: absolute;
    border-radius: 5px;
    left:-20px;
    width:250px;
    top:-10px;
    cursor: pointer;
  }
   
  .sort-lst div{
    padding: 1rem 2px;
    cursor: pointer;
  }

  .sort-lst div:hover{
    background-color: #c6c9cc;
  }
   
  .sorting-div .arrowdiv{
    width: 80px
  }

  .btn-collect{
    width: 791px;
    margin: 1.5rem 0px;
  }

  /* MOVIE GRID */
  .mov-grid{
    margin: 4rem 0px 3rem 0px;
    display: flex;
    gap:4rem;
    height: 380px;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row-reverse; */
  }

  .mov-grid-first {
    width: 585px;
    height: 100%;
  }

  .mov-grid-first img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
  }


  .mov-grid-sec{
    width: 600px;
  }

  .mov-grid-sec h1{
    font-size: 40px;
    line-height: 2.7rem;
    font-weight: 500;
    margin: 1rem 0px;
  }
  
  .sec-date{
    font-size: 25px;
    margin: 2rem 0px;
  }

  .mov-bars{
    margin: 6rem 0px;
  }

  @media (max-width:1000px) {

    .mov-grid-first{
     display: flex;
     justify-content: center;
     align-items: center;
      
    }

    .sec-date{
      font-size: 20px;
      margin: 2rem 0px;
    }

    .mov-grid{
      margin: 4rem 0px 3rem 0px;
      display: flex;
      gap:3rem;
      height: 380px;
      align-items: center;
      justify-content: space-between;
      /* flex-direction: row-reverse; */
    }

    .mov-grid-first img{
      height: 300px;
      width: 380px;
      border-radius: 10px;
      
    }

    .mov-grid-sec {
      margin: 0px 10px;
    }

    
    .mov-grid-sec h1{
      font-size: 34px;
      line-height: 2.7rem;
      font-weight: 500;
      margin: 0.5rem 0px;
    }
    

  }


@media (max-width:800px) {
    .main{
        margin: 0px 20px;
    }

    .mov-grid-first img{
      height: 200px;
      width: 200px;
      border-radius: 10px;
      
    }

    .d-flex{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
  }

    .input-container {
        position: relative;
        width: 100% /* Adjust width based on your layout */
     }

     .btn-collect{
      width: 100%;
      margin: 1.5rem 0px;
    }

    .mov-grid{
      margin: 4rem 0px 3rem 0px;
      display: flex;
      flex-direction: column;
      gap:0rem;
      height: 570px;
      align-items: start;
      justify-content: start;
      /* flex-direction: row-reverse; */
    }
  
    .mov-grid-first {
      width: 360px;
      height: 100%;
     
    }
  
    .mov-grid-first img{
      height: 100%;
      width: 100%;
      border-radius: 10px;
      
    }
  
    .mov-grid-sec{
      width: 100%;
      margin: 0px;
    }
  
    .mov-grid-sec h1{
      font-size: 30px;
      line-height: 2.7rem;
      font-weight: 500;
      margin: 0.5rem 0px;
    }
    
    .sec-date{
      font-size: 20px;
      margin: 2rem 0px;
    }
    
    .sorting-div{
      background-color: rgb(252, 252, 252);
       box-shadow: 0px 0px 5px 2px rgb(218, 217, 217) ;
      padding: 1.2rem 1rem 5px 1rem;
      position: absolute;
      border-radius: 5px;
      right:10px;
      width:100px;
      top:-10px;
      cursor: pointer;
      text-align: end;
    }
    
}