body{
    font-family: 'Roboto',sans-serif;
}

.hr-tag{
    margin-top: 100px !important;
    width: 100% !important;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont{
    width: 100%;
    
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ffh{
    display: flex;
}

.count{
    height: 64px;
    width: 64px;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
  
.navbar ul li{ 
    list-style-type: none;
    margin: 0px 20px;
    padding: 10px 0px;
    font-weight: 500;
    font-size: 17px;
    line-height: 10px;
    cursor: pointer;

}

.navbar ul li a{
    text-decoration: none;
    color: black;
}

.navbar ul:nth-child(1) li:hover{
    border-bottom: 1.8px solid #1A2C50;
    padding: 5px 0px;
}


.navbar ul li button{
    padding: 12px 8px;
    height: 48px;
    width: 98px;
    border: none;
    border-radius: 5.07px;
    background-color:#1A2C50;
    color: rgb(230, 201, 11);
    font-size: 15px;
}

.profile{
    height: 40px;
    width: 40px;
    background-color: #1A2C50;
    border-radius: 50%;
    margin: 0px 10px;
    background:linear-gradient(#F2C46F, #C6943F);
    color:white;
    text-align: center;
    padding: 10px;
}


/* THREE MOVIE BARS */

.three{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin: 50px 0px;
}

.threeBoxdiv{
    width: 420px;
    height: 427px;
    margin:  20px 2px;
}

.threeBoxdiv img{
    border-radius: 15px;
}

.threeBoxdiv button{
    margin: 40px 0px 10px 0px;
    border: 1px solid #1A2C50;
    color: #1A2C50;
    background-color: white;
    padding: 8px;
}

.threeBoxdiv div{
    width: 355px;
}


.threeBoxdiv h3{
    font-size: 24px;
    font-weight: 500;
}

.threeBoxdiv p{
    font-weight: 400;
    color: #5A637A;
    font-size: 16px;
    margin-top: 20px ;
}

/* BIG MOVIE BARS */

.threebig{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px;
}

.threebig-inner{
    width: 359px;
    height: 642px;
    margin:  20px 2px;

}

.threebig-inner img{
    border-radius: 15px;
}

.threebig-inner .text-div2{
    margin: 40px 0px;
}

.threebig-inner .text-div2 h2{
    font-weight: 500;
}

.text-div2 ul{
    list-style-type: none;
    display: flex;
    margin:25px 0px;
    justify-content: flex-start;
}

/* FOOTER */
.main{
    margin: 0px 80px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .footer-col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: flex-start; */
    margin:45px 0px;
    /* align-items: center; */
    /* height: 500px; */
}

.footer-col img{
    height:127px;
    width:130px;
}

.footer-col ul{
    list-style-type: none;
}
.footer-col li{
    list-style-type: none;
    margin: 0px 0px 30px 0px;
}

.footer-col ul li:first-child{
    font-weight: 500;
    font-size: 18px;
}
.footer .footer-col:first-child{
    margin:0px 0px ;
}

.footer-col .last-col{
   padding: 0px 20px;
   width: 370px;
}

.last-col img{
    width: 23px;
    height: 23px;
    margin: 27px 23px 43px 0px;
}

.last-col p{
    font-weight: 500;
    font-size: 18px;
}

.last-col .playbtn{
    width: 110px;
    height: 33px;
}

.last-col h5{
    font-size: 12px;
    font-weight: 400;
}

/* TITLE TEXT */

.tt{
    margin-top: 2rem;
    line-height: 3rem;
}

.tt p{
    color:#5A637A
}


/* PRICE BOX */
.price-comp{
    line-height: 2.5rem;
}

.c-grey{
    color: #5A637A;
    font-weight: 600;
}

.price-comp h1{
    font-size: 2.5rem;
}

/*REPT TEXT*/

.reptText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    margin: 1rem 0;
    color: #333333;
}

.reptText div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SM MOVIE BAR BUTTON */

.sm-mov-btn{
    margin: 40px 0px 10px 0px;
    border: 1px solid #1A2C50;
    color: #1A2C50;
    background-color: white;
    padding: 8px;
    
}


/* LOGIN GRID */

.w-500{
    font-weight: 500;
}

.w-400{
    font-weight: 800;  
}

.ret-div{
    display: flex;
    align-items: center;
    gap:20px;
    justify-content: start;
    height: 50px;
}

.inner-login{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap:8rem
}

.inner-login img{
    height: 20px;;
    width: 25px;
}

.ret{
  color: white;
  font-size: 20px;
}

/* COL 2 */

.login-col2{
    background-color: white;
    width: 742px;
}

.login-col2 .inner-login22{
    margin: 5rem 3rem 3rem 3rem; ;
    width: 60%;
}

.add-pass-div{
    margin: 3rem 0px;
}

.add-pass-div input{
    border: none;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid gray;
    font-size: 15px;
    margin-top:10px;
}

.login-btn{
   margin: 1rem 0px;
   width: 100%;
   text-align: center;
   padding: 12px;
   border: 1px solid #1A2C50;
   color: #1A2C50;
   border-radius: 5px;
   background-color: white;
   font-size: 1rem;
}

.no-acc{
  text-align: center;
  margin: 15px 0px 0px 0px;
  font-size: 14px;
  color: #1A2C50;
  
}

.login-btn:hover{
    background-color: #203560 !important;
    color: white;
}

.rights{
    font-size: 10px;
    margin: 5rem 0px 0px 0px;
}




@media (max-width:900px){
  
    /* NAVBAR */
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        width: 100%;
    }
    .navbar ul:first-child{
        gap: 3rem;
        font-weight: 700;
    }

    .navbar ul:nth-child(2){
        gap: 1rem;
    }

    .navbar ul:nth-child(2) li:first-child{
       display: none;
    }

    .navbar ul li{ 
        list-style-type: none;
        margin: 0px 4px;
        padding: 1px 0px;
        font-weight: 500;
        font-size: 15px;
    }

    .navbar ul li button{
        padding: 8px 5px;
        height: 30px;
        width: 70px;
        border: none;
        border-radius: 5.07px;
        background-color:#1A2C50;
        color: rgb(230, 201, 11);
        font-size: 10px;
    }


    .ffh{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .three{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0px;
        /* height: 700px; */
    }

    .threeBoxdiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5px 0px;
        /* height: 700px; */
    }
    
    .threeBoxdiv h3{
        font-size: 20px;
        font-weight: 500;
    }

    .threeBoxdiv button{
        margin: 20px 0px 0px 0px;
        padding: 5px;
    }

    .threeBoxdiv p{
        font-size: 12px;
        margin-top: 10px ;
    }

    .threeBoxdiv div{
        width: 100%;
        height: 200px;
        margin:  10px 2px;
    }

    /* FOOTER */

    .footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        font-size: 15px;
    }

    .footer .footer-col{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin:15px 0px;
        /* align-items: center; */
       
    }

    .footer-col img{
        height:90px;
        width:100px;
    }

    .footer-col li{
        list-style-type: none;
        margin: 0px 0px 10px 0px;
    }

    .footer-col ul li:not(:first-child){
        display: inline-block;
        margin: 5px 10px 5px 0px
    }

    .footer-col .last-col{
        padding: 0;
    }

     .last-col img{
        width: 25px;
        height: 25px;
        margin: 27px 23px 43px 0px;
    }

    .tt{
        margin-top: 2rem;
        line-height: 2rem;
    }
    
    .tt p{
        color:#5A637A;
        font-size: 15px;
    }

    .tt h1{
        font-size: 20px;
    }
     
       
    /* PRICE BOX */
    .price-component{
        line-height: 2.3rem;
    }
    
    .c-grey{
        color: #5A637A;
        font-weight: 600;
    }
    
    .price-component h1{
        text-align: center;
     }

     .threebig{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0px;
    }

    .sm-mov-btn{
        margin: 40px 0px 0px 0px;
        border: 1px solid #1A2C50;
        color: #1A2C50;
        background-color: white;
        padding: 10px 5px;
        font-size: 1rem;
        
    }

    .inner-login{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 7fr;
        
    }
    
    
    .login-col2{
        background-color: white;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login-col2 .inner-login22{
        margin: 3rem 2rem ;
        width: 100%;
        
    }

    .add-pass-div{
        margin: 1rem 0px;
        
    }
    
    .add-pass-div input{
        border: none;
        width: 100%;
        padding: 10px 0px;
        border-bottom: 1px solid gray;
        font-size: 15px;
        margin-top:10px;
    }
    
    .login-btn{
       margin: 1rem 0px;
       width: 100%;
       text-align: center;
       padding: 12px;
       border: 1px solid #1A2C50;
       color: #1A2C50;
       border-radius: 5px;
       background-color: white;
       font-size: 1rem;
    }
     

    /* BIG MOVIE BARS */

    .threebig{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin: 20px 0px;
        overflow-x: scroll;
        width: inherit;
        justify-content: start;
    }
    
    .threebig-inner{
        width: inherit;
        height: 642px;
        margin:  20px 2px;
    
    }
    
    .threebig-inner img{
        border-radius: 15px;
        width: 380px;
        height: 502px;
    }
    
    .threebig-inner .text-div2{
        margin: 40px 0px;
    }
    
    .threebig-inner .text-div2 h2{
        font-weight: 500;
    }
    
    .text-div2 ul{
        list-style-type: none;
        display: flex;
        margin:25px 0px;
        justify-content: flex-start;
    }

    
}